* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #0a1116;
    /* fallback for old browsers */

}

:root {
    scroll-behavior: smooth;
    /*PARA HACER EL SCROLL EN EL NAV*/
}

.contenedor {

    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 40px 0px;

}

header {
    text-align: center;
    height: 100vh;
    background: rgb(20, 30, 48, 0.3);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(36, 59, 85, 0.3), #0a1116);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(37, 60, 86, 0.3), #0a1116), url(../img/inicio.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-size: cover;
    /* para que rellene el gradient con la imagen*/
    background-attachment: fixed;
    /*  PARA QUE SE QUEDE QUIETO EN EL FONDO */
    background-position: center;


}


.logoportada{
    
    width:450px; 
    height: 800px; 
    margin: 0px auto 200px auto;
    padding: 0px 0px 0px 0px;
    
}



















/* NOSOTROS */


.swiper-wrapper .caption .iconoface {
    position: absolute;
    top: 90px;
    left: 50px;
    font-size: 20px;
    color: #adb6c7;
    background-color: rgb(94, 81, 81);
    border: 2px solid #adb6c7;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.swiper-wrapper .caption .iconoface:hover {
    color: #fff;
    background-color: #1877F2;

}

.swiper-wrapper .caption .iconoinsta {
    position: absolute;
    top: 90px;
    left: 110px;
    font-size: 20px;
    color: #adb6c7;
    background-color: rgb(94, 81, 81);
    border: 2px solid #adb6c7;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.swiper-wrapper .caption .iconoinsta:hover {
    color: #fff;
    background: #8A2387;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}































/*NAVEGACION*/

.navegacion {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 23vw;
    height: 100%;
    background: #DCE35B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45B649, #DCE35B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45B649, #DCE35B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu {
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    z-index: 2;
}

.spread {
    transform: translate(0);
}

.navegacion a {

    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}









/*TEXTO*/



.subtitulo {
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    font-size: 40px;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 300;
    margin-bottom: 40px;
    margin-top: 20px;
    color: #fff;
}











/*SLIDER*/





.swiper-container {
    z-index: 0;
    width: 100%;
    height: 100vh;
    position: relative;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}




.swiper-wrapper img {
    height: 100vh;
    width: 100%;
    object-fit: cover;

}

.swiper-wrapper .caption {
    position: absolute;
    top: -40px;
    left: -40px;
    padding: 15px 50px;

    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);


}

.swiper-wrapper .caption h1 {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 40px;
}


.swiper-wrapper .caption p {
    margin-top: 10px;
    font-size: 20px;
}





/*GALERIA*/
.background {
    position: relative;
    background: #0e1820;
}

.galeria {

    width: 80%;
}

.galeria img {

    margin-bottom: 20px;
    width: 260px;
    height: 260px;
    box-shadow: 0 8px 15px -4px rgba(255, 255, 255, 0.11);
    border-radius: 15px;
    object-fit: cover;
    object-position: 25%;


}

.galeria col {
    margin-bottom: 20px;
}







/*FOOTER*/

footer {
    position: relative;
    height: 100vh;
    text-align: center;
    align-items: center;
    background: #0a1116;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.contact-us {
    position: relative;
}

.subbrand {

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: white;
}

.logocontact{
    width: 250px; 
    height: 100px; 
    margin: 0px auto 100px auto;
}





.social-media i {

    font-size: 40px;
    display: inline-block;
    color: #adb6c7;
    border: 2px solid #adb6c7;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 55px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social-media i:hover {
    color: #fff;
    background-color: #1FDE82;
    border-color: #1FDE82;
}










/*RESPONSIVE*/


@media screen and (max-width:800px) {
    .navegacion {
        width: 50vw;
    }

    .swiper-wrapper .caption h1 {
        font-size: 25px;
        text-align: left;

    }

    .swiper-container .swiper-wrapper .swiper-slide .lucho {

        width: 100%;
        object-position: 40%;

    }

    .swiper-container .swiper-wrapper .swiper-slide .luis {

        width: 100%;
        object-position: 20%;

    }

    .swiper-container .swiper-wrapper .swiper-slide .carra {

        width: 100%;
        object-position: 20%;

    }

    .swiper-container .swiper-wrapper .swiper-slide .nicko {

        width: 100%;
        object-position: 20%;

    }

    .swiper-container .swiper-wrapper .swiper-slide .paye {

        width: 100%;
        object-position: 40%;


    }



    .swiper-wrapper .caption .iconoinsta {
        top: 155px;
        left: 50px;
        color: #ffffff;
        border: 2px solid #ffffff;
        background: linear-gradient(to right, #F27121, #E94057, #8A2387);

    }

    .swiper-wrapper .caption .iconoface {
        top: 100px;
        color: #ffffff;
        border: 2px solid #ffffff;
        background-color: #1877F2;
    }

    .number {

        top: 74%;
        left: 38%;

    }

    .wpp {
        top: 73%;
        left: 24%;
    }
    .logoportada{
        width: 200px; 
        height: 100px; 
        margin: 25px auto 200px auto;
    }

    .logocontact{
        width: 200px; 
        height: 100px; 
        margin: 0px auto 100px auto;
    }

}


@media screen and (max-width:350px) {
    .logoportada{
        width:170px; 
        height: 100px; 
        margin: 50px auto 200px auto;
    }

    .logocontact{
        width: 150px; 
        height: 100px; 
        margin: 0px auto 100px auto;
    }
}